<table style="width:300px; display:block;">
   <caption><b>Physical quantity in Radiometry</b></caption>
    <th></th> 
    <th>Symbol</th>
    <th>Unit</th>
    <th>Definition</th>
    <tr>
    <td>Energy</td>
    <td>Q</td>
    <td>J</td>
    <td></td>
    </tr>
    <tr>
    <td>Flux</td>
    <td><img src="https://puu.sh/uIRU6/c68d4982d5.gif" style="vertical-align:middle;"></td>
    <td>W(J/s)</td>
    <td><img src="https://puu.sh/uISjW/b43d5bb4fa.gif" style="vertical-align:middle;"></td>
    </tr>
    <tr>
    <td>Irradiance</td>
    <td>E</td>
    <td><img src="https://puu.sh/uIQi9/428088dba8.gif" style="vertical-align:middle;"></td>
    <td><img src="https://puu.sh/uIS62/5fff7d8689.gif" style="vertical-align:middle;"></td>
    </tr>
    <tr>
    <td>Intensity</td>
    <td>I</td>
    <td>W/sr</td>
    <td><img src="https://puu.sh/uIScn/783c217251.gif" style="vertical-align:middle;"></td>
    </tr>
    <tr>
    <td>Radiance</td>
    <td>L</td>
    <td><img src="https://puu.sh/uISB3/5654d5c895.gif" style="vertical-align:middle;"></td>
    <td><img src="https://puu.sh/uITbJ/461f4ea05b.gif" style="vertical-align:middle;"></td>
    </tr>
</table>